:root {
    --main-color: #F9D24F;
    --sec-color: #000606;
    --third-color: #ffffff;
}

h1,
h2,
h3 {
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

p,
body {

    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

}

.nav_link {
    color: var(--sec-color);
    text-decoration: none;
}

.nav_bg {
    background-color: var(--third-color);
    width: 100%;
    height: 80px;
    transition: 400ms;
}

.toggler_icon {
    outline: none !important;
    box-shadow: none !important;
}

.anm_link {}

.anm_link:hover {
    transform: scale(1.1);
    transition: 200ms;

}

.nav_blur {
    backdrop-filter: blur(7px), saturate(0.8);
    background-color: var(--sec-color);
    border: 3px solid var(--main-color);
}

header {
    background-image: url(./media/marcos-rivas-496Nw45mkg4-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 80px;

}

.intro {
    height: 100vh;
}

.btn_search {
    border: none;
}

.imgStory {
    height: 700px;
    width: 500px;

}